@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">SERVER DAMASNAMAS</h1>
    <p>Nuestro funcional servidor para que podais jugar a las damas</p>
</div>
